# TODO: Re-use CI pipelien between non-releases and releases
#       This is actually CI+CD pipeline at the moment
name: CD Pipeline

on:
  push:
    tags:
      - 'v*.*.*'

defaults:
  run:
    shell: bash
    working-directory: Wolfberry.TelldusLive/

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Set release version
      id: vars
      run: echo ::set-output name=release_version::$(echo ${GITHUB_REF#refs/*/} | sed -e "s/v//gI")

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test & Coverage
      run: dotnet test --no-build --verbosity normal --framework net8.0 /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov

    - name: Create NuGet
      run: dotnet pack -p:PackageVersion=${{ steps.vars.outputs.release_version }} -c Release -o out

    - name: PushNuget
      run: dotnet nuget push out/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_API_KEY}} --skip-duplicate
